<h1>Students (<%= student_count %>)</h1>
<%= for {student_id, {student_last, student_first, _student_bus}} <- all_students do %>
  <div>
    <a href="/student/<%= student_id%>" class="student_name"><%= student_last %>, <%= student_first %> </a>
  </div>
<% end %>
